lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.idea
pids
logs
results

npm-debug.log
node_modules
src/assets
src/uploads
static/upload
assets
uploads

config/production.coffee

uploadTemporary
storage
config/development.coffee

config/development.coffee
