<div>
    <textarea id="tmpl-comment-cell">
        <div class="row">
            <div class="information">
                <span class="floor">{{$index + 1}}楼</span> ->
                <span class="owner">{{data.creator_name}}在</span>&nbsp;
                <span class="timestamp">{{data.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
                说：
                <div class="toolbar">
                    <a class="edit" href="javascript:void(0)" ng-click="onClickEdit($event, data)" ng-hide="true">编辑</a>
                    <a class="delete" href="javascript:void(0)" ng-click="onClickDelete($event, data)">删除</a>
                </div>
            </div>

            <div class="content editor-style" ng-bind-html="data.content | unsafe" full-size-image-previewer></div>
        </div>
    </textarea>

    <textarea id="tmpl-comment-list">
        <div>
            <div ng-repeat="comment in comments.items">
                <!--一个完整的评论-->
                <comment-cell data="comment" $index="$index+comments.pagination.limit*(comments.pagination.pageIndex-1)"></comment-cell>
            </div>
            <pagination data-uuid="comment_list" ng-hide="comments.pagination.pageCount<2" data-paginations="{{comments.pagination}}"></pagination>
        </div>
    </textarea>

    <!--评论的编辑器-->
    <textarea id="tmpl-comment-editor">
        <div class="comment-editor">
            <div class="full-editor">
                <header>添加评论</header>
                <!--操作的编辑器-->
                <editor data-name="comment" data-show-always-top="false" data-upload-url="{{uploadUrl}}" data-member-list=""></editor>
            </div>
            <!--简版的编辑器，供显示用-->
            <div class="simple">
                <input type="text" placeholder="来，说点什么？" ng-focus="onFocusEditor($event)" />
                <!--点击滚动到顶部-->
                <div class="top"></div>
            </div>
        </div>
    </textarea>
</div>